*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* Header and nav title  */

.header{
    background-color: #FFFFFF;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat:no-repeat;
    background-position: bottom right, left;
    
}




nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.tex-primary{
    color: #FD6E0A;
}


.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;

}


/* Banner Style */

.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
    margin-bottom: 5px;

}

.banner-title{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-bottom: 20px;



}

.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    font-style: semiBold;


}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.btn-contuct{

    color: #FFFFFF;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    color: #FD6E0A;
    margin-left: 30px;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    padding: 18px 35px;
    font-size: 27px 113px;
}

.devoloper{
    display: flex;
    align-items: left;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;

}

/* About section style */
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding:130px 150px ;

}


.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    

}

.section-description{
    font-style:Regular;
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 20px;



}


.about-info-continer{
    display: flex;
    justify-content: space-around;



}

.info-title{
    font-size: 20px;
    color: #757575;
    text-align: center;
}

.info-descroption{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #474747;
}

